@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background: url("./img/background.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: #d1d1d1;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 100%; /* Alterado para largura de 100% */
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px; /* Adicionado espaçamento inferior */
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: calc(100% - 10px); /* Alterado para largura de 100% com margem */
    background-color: rgba(0, 51, 41, 0.5);
    color: #ffffff;
    font-size: 17px;
    padding: 0 5px; /* Reduzido o preenchimento horizontal */
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    background-color: rgba(0, 51, 41, 0.7);
}

.button-add-task:active {
    background-color: rgba(0, 51, 41, 0.3);
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 20px; /* Reduzido o espaçamento superior */
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

/* Media query para responsividade */
@media screen and (max-width: 600px) {
    .container {
        width: 90%; /* Alterado para 90% da largura da tela */
    }

    .button-add-task {
        width: 100%; /* Botão agora ocupa 100% da largura */
        margin-top: 10px; /* Adicionado espaçamento superior */
    }

    .list-tasks {
        margin-top: 15px; /* Reduzido o espaçamento superior */
    }
}
